<!doctype html>
<html ng-app="todoApp">
  
  <head>
    <title>So Much To Do</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="todo.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>

  <body>
    <h1 class="text-center">So Much To Do</h1>
    
    <div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
      [ <a href="" ng-click="todoList.archive()">archive</a> ]

      <div class="container">
        <div class="row">
          <div class="col-3" ng-repeat="todo in todoList.todos">
            <li>
              <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <span>{{todo.text}}</span>
              </label>
            </li>            
          </div>
        </div>
      </div>

      <div class="input-group mb-3 col-3 bg-light p-3 border">
        <input type="text" ng-model="todoList.todoText" class="form-control" placeholder="add new todo here" aria-label="add new todo here" aria-describedby="button-addon2">
        <button ng-click="todoList.addTodo()" class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
      </div>
        
    </div>
  </body>
</html>
